@charset "UTF-8";

$main_color: #E14500;
$nav_fontsize: 20px;
$heading_fontsize: 33px;
$heading_fontsize_phone:18px;
$content_title_fontsize: 37px;
$content_title_fontsize_phone: 33px;
$content_fontsize:18px;
$content_fontsize_phone:15px;
$footer_fontsize: 15px;
$footer_fontsize_phone: 11px;
$margin_top_main:5vw;
$margin_top_phone: 5vh;
$nav_fontfamily : "Yu Gothic UI";
$main_fontfamily:"Yu Gothic UI Semibold";


.container{
  display:flex;
  flex-direction: column;
  font-family: $main_fontfamily;
}


//header
header{
  display: flex;
  z-index:10;
  justify-content: space-between;
  height:10vh;
  width:100%;
  background: $main_color;
  position:fixed;
  img{
    height:100%;
  }
  .navigation {
    font-family: $nav_fontfamily;
    height: 100%;
    line-height: 100%;
    align-items: center;
    display: flex;
    li {
      margin-left: 30px;
      line-height: 100%;
      list-style-type: none;
      color: #fff;
      font-size: $nav_fontsize;
      margin-right: 1em;
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

//header スマホ対応
@media only screen and (max-width: 480px) {
  header {
    height:7vh;
  }
  //ハンバーガーメニューを設ける
}


//top画面(開いた画面)
#top{
  font-family: "Yu Gothic UI";
  position:relative;
  margin-top:10vh;
  width:100%;
  height:90vh;
  background:#000;
  .bg{
    width:100%;
    height:100%;
    background-image:url("/feedal_top.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  p{
    width:100%;
    color:#fff;
    display:block;
    position:absolute;
    top:50%;
    right:50%;
    transform: translate(50%, -50%);
    text-align: center;
    font-size:$heading_fontsize;
    font-weight: bold;
  }

  //top画面　スマホ対応
  @media only screen and (max-width: 480px){
      height:40vh;
      margin-top:7vh;
      p{
        font-size:$heading_fontsize_phone;
        font-weight:bold;
    }
  }
}



//(ミッション、ニュースなどの)タイトルに共通する設定
.title{
  font-size:$content_title_fontsize;
  color:$main_color;
  margin-left:15vw;
  margin-top:$margin_top_main;
  text-decoration: underline;

  //タイトル　スマホ対応
  @media only screen and (max-width: 480px) {
    margin-left:10vw;
    margin-top:$margin_top_phone;
    font-size: $content_title_fontsize_phone;
  }
}



//mission
#mission{
  //PC
  @media only screen and (min-width: 480px) {
    .flexbox {
      margin-top: $margin_top_main;
      display: flex;
      flex-direction: row;

      img {
        margin-left: 15vw;
        width: 30%;
      }

      #mission_title {
        position: relative;
        margin: auto;
        width: 50%;
        font-size: $heading-fontsize;
        text-align: center;
      }
    }
  }

  //mission スマホ対応
  @media only screen and (max-width: 480px){
    img{
      width:90%;
      margin: $margin_top_phone 5% 0 5%;
    }
    #mission_title{
      margin-top:$margin_top_phone ;
      width:100%;
      text-align:center;
      font-size:$content_title_fontsize_phone;
    }
  }
}



//mission,serviceのコンテンツ
.content{
  text-align:center;
  font-size:$content_fontsize;
  margin-top:$margin_top_main;

  //mission,serviceのコンテンツ　スマホ対応
  @media only screen and (max-width: 480px){
    text-align:center;
    font-size:$content_fontsize_phone;
    margin:$margin_top_phone 0;
    padding:0 5vw;
  }
}


//service
#service{
  #service_title {
    font-size: $heading_fontsize;
    text-align: center;
    margin-top: $margin_top_main;
  }
  .detail {
    margin:$margin_top_main 0;
    text-align: center;
    a {
      padding: 10px 30px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      background: $main_color;
      border-radius: 12px;
    }
  }
  //PC
  @media only screen and (min-width: 480px) {
    .image {
      margin-top: $margin_top_main;
      width: 100%;

      img {
        display: block;
        margin: auto;
        width: 15%;
      }
    }
  }

  //service スマホ対応
  @media only screen and (max-width: 480px){
    img{
        margin:$margin_top_phone 20% 0 20%;
        width:60%;
      }
  }
}


//news
#news{
    #news_event {
      width: 60%;
      margin: $margin_top_main 20%;
      font-size: $content_fontsize;

      td {
        border-bottom: solid #000 1px;
      }

      .td1 {
        width: 20%;
        text-align: center;
        font-weight: bold;
      }

      .td2 {
        width: 80%;
        padding-left: 15px;
        text-align: left;
      }

      a {
        text-decoration: none;
        color: cornflowerblue;
      }

  }
  //news スマホ対応
  @media only screen and (max-width: 480px) {
    #news_event{
      width:90%;
      margin: $margin_top_phone 5%;
      font-size:$content_fontsize_phone;
    }
  }
}


//company
#company{
  font-size:$content_fontsize;
  .company_topic{
    text-align:center;
    margin-top:$margin_top_main;
    color:#7f828b;
  }
  .company_content{
    text-align:center;
  }
  //company スマホ対応
  @media only screen and (max-width: 480px){
    font-size: $content_fontsize_phone;
    .company_topic{
      margin-top:$margin_top_phone;
    }
  }
}


//contact
#contact{
  p{
    margin-top:$margin_top_main;
    text-align: center;
  }
  .sns{
    margin:$margin_top_main auto;
    width:50%;
    text-align: center;
    padding:0;
    li{
      text-align: center;
      list-style-type: none;
      padding: 0 5vw;
      display: inline-block;
      a{
        text-decoration: none;
        color:#000;
        width:100%;
        height:100%;
      }
    }
  }
  //contact スマホ対応
  @media only screen and (max-width: 480px){
    p{
      margin-top:$margin_top_phone;
      padding:0 5vw;
    }
    .sns{
      margin:$margin_top_phone auto;
      width:70%;
    }
  }
}


//footer
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:120px;
  background:#333;
  div {
    text-align: center;
    color: #fff;
    font-size: $footer_fontsize;

    a {
      color: #fff;
    }
  //footer スマホ対応
    @media only screen and (max-width: 480px) {
      font-size: $footer_fontsize_phone;
    }
  }
}
